In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' 'NAME', 'AFFILIATION' and 'USE_CASE'
application_df = application_df.drop(["EIN", "NAME", "AFFILIATION", "USE_CASE"], axis=1)
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,Association,1,0,N,5000,1
1,T3,C2000,Co-operative,1,1-9999,N,108590,1
2,T5,C3000,Association,1,0,N,5000,0
3,T3,C2000,Trust,1,10000-24999,N,6692,1
4,T3,C1000,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df[["APPLICATION_TYPE",  "CLASSIFICATION","ORGANIZATION", "STATUS","INCOME_AMT","SPECIAL_CONSIDERATIONS","ASK_AMT","IS_SUCCESSFUL"]].nunique()

APPLICATION_TYPE            17
CLASSIFICATION              71
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df.APPLICATION_TYPE .value_counts()

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_type[app_type < 600].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION .value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 1883].index)


# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
#askamt = application_df.ASK_AMT.value_counts()
#askamt

In [9]:
# Determine which values to replace if counts are less than ...?
#replace_application = list(askamt[askamt < 4].index)

# Replace in dataframe
#for app in replace_application:
    #application_df.ASK_AMT = application_df.ASK_AMT.replace(app,"Other")
    
# Check to make sure binning was successful
#application_df.ASK_AMT.value_counts()

In [10]:
application_cat = ["APPLICATION_TYPE",   "CLASSIFICATION","ORGANIZATION","INCOME_AMT","SPECIAL_CONSIDERATIONS"]#,"ASK_AMT"]
application_cat

['APPLICATION_TYPE',
 'CLASSIFICATION',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,CLASSIFICATION_C1000,CLASSIFICATION_C1200,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\ashsu\Sunil\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
application_df.dtypes

STATUS                         int64
ASK_AMT                        int64
IS_SUCCESSFUL                  int64
APPLICATION_TYPE_Other       float64
APPLICATION_TYPE_T19         float64
APPLICATION_TYPE_T3          float64
APPLICATION_TYPE_T4          float64
APPLICATION_TYPE_T5          float64
APPLICATION_TYPE_T6          float64
APPLICATION_TYPE_T7          float64
APPLICATION_TYPE_T8          float64
CLASSIFICATION_C1000         float64
CLASSIFICATION_C1200         float64
CLASSIFICATION_C2000         float64
CLASSIFICATION_C2100         float64
CLASSIFICATION_C3000         float64
CLASSIFICATION_Other         float64
ORGANIZATION_Association     float64
ORGANIZATION_Co-operative    float64
ORGANIZATION_Corporation     float64
ORGANIZATION_Trust           float64
INCOME_AMT_0                 float64
INCOME_AMT_1-9999            float64
INCOME_AMT_10000-24999       float64
INCOME_AMT_100000-499999     float64
INCOME_AMT_10M-50M           float64
INCOME_AMT_1M-5M             float64
INCOME_AMT_25000-99999       float64
INCOME_AMT_50M+              float64
INCOME_AMT_5M-10M            float64
SPECIAL_CONSIDERATIONS_N     float64
SPECIAL_CONSIDERATIONS_Y     float64
dtype: object

In [14]:
application_df = application_df.drop(["ASK_AMT"], axis=1)
application_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\ashsu\Sunil\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 6
hidden_nodes_layer3 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                310

 dense_1 (Dense)             (None, 6)                 66

 dense_2 (Dense)             (None, 5)                 35

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 417
Trainable params: 417
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [22]:
# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch')

In [23]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
#fit_model = nn.fit(X_train_scaled,y_train,epochs=10)
fit_model = nn.fit(X_train_scaled,y_train,epochs=10,callbacks=[cp_callback])

Epoch 1/10
803/804 [============================>.] - ETA: 0s - loss: 0.6211 - accuracy: 0.6465
Epoch 1: saving model to checkpoints\weights.01.hdf5
804/804 [==============================] - 4s 4ms/step - loss: 0.6211 - accuracy: 0.6466
Epoch 2/10
792/804 [============================>.] - ETA: 0s - loss: 0.6212 - accuracy: 0.6456
Epoch 2: saving model to checkpoints\weights.02.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.6208 - accuracy: 0.6458
Epoch 3/10
804/804 [==============================] - ETA: 0s - loss: 0.6205 - accuracy: 0.6464
Epoch 3: saving model to checkpoints\weights.03.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.6205 - accuracy: 0.6464
Epoch 4/10
794/804 [============================>.] - ETA: 0s - loss: 0.6176 - accuracy: 0.6468
Epoch 4: saving model to checkpoints\weights.04.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.6175 - accuracy: 0.6468
Epoch 5/10
804/804 [==============================] - ETA: 0s - loss: 0.6170 - accuracy: 0.6497
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.6170 - accuracy: 0.6497
Epoch 6/10
791/804 [============================>.] - ETA: 0s - loss: 0.6171 - accuracy: 0.6466
Epoch 6: saving model to checkpoints\weights.06.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.6169 - accuracy: 0.6468
Epoch 7/10
792/804 [============================>.] - ETA: 0s - loss: 0.6173 - accuracy: 0.6485
Epoch 7: saving model to checkpoints\weights.07.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.6170 - accuracy: 0.6486
Epoch 8/10
804/804 [==============================] - ETA: 0s - loss: 0.6174 - accuracy: 0.6487
Epoch 8: saving model to checkpoints\weights.08.hdf5
804/804 [==============================] - 4s 4ms/step - loss: 0.6174 - accuracy: 0.6487
Epoch 9/10
799/804 [============================>.] - ETA: 0s - loss: 0.6164 - accuracy: 0.6493
Epoch 9: saving model to checkpoints\weights.09.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.6163 - accuracy: 0.6495
Epoch 10/10
797/804 [============================>.] - ETA: 0s - loss: 0.6159 - accuracy: 0.6468
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.6160 - accuracy: 0.6465

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6215 - accuracy: 0.6510 - 778ms/epoch - 3ms/step
Loss: 0.6215481162071228, Accuracy: 0.6509621143341064

In [28]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5.")

INFO:tensorflow:Assets written to: AlphabetSoupCharity_Optimization.h5.\assets