In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Drop the non-beneficial ID columns, 'EIN' 'NAME', 'AFFILIATION' and 'USE_CASE'
application_df = application_df.drop(["EIN"], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Determine the number of unique values in each column.
application_df[["APPLICATION_TYPE",  "CLASSIFICATION","ORGANIZATION", "STATUS","INCOME_AMT","SPECIAL_CONSIDERATIONS","ASK_AMT","IS_SUCCESSFUL"]].nunique()

APPLICATION_TYPE            17
CLASSIFICATION              71
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df.APPLICATION_TYPE .value_counts()

In [24]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_type[app_type < 600].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Look at Name value counts for binning
Names = application_df.NAME .value_counts()
Names

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [26]:
Names.head(20)

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
Name: NAME, dtype: int64

In [27]:
# Determine which values to replace if counts are less than ...?
replace_name = list(Names[Names < 200].index)

# Replace in dataframe
for app in replace_name:
    application_df.NAME = application_df.NAME.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.NAME.value_counts()

Other                                                                 28123
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
Name: NAME, dtype: int64

In [28]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION .value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [29]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 1883].index)


# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [30]:
#askamt = application_df.ASK_AMT.value_counts()
#askamt

In [31]:
# Determine which values to replace if counts are less than ...?
#replace_application = list(askamt[askamt < 4].index)

# Replace in dataframe
#for app in replace_application:
    #application_df.ASK_AMT = application_df.ASK_AMT.replace(app,"Other")
    
# Check to make sure binning was successful
#application_df.ASK_AMT.value_counts()

In [32]:
application_df.dtypes

NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [33]:
application_cat = ["NAME","APPLICATION_TYPE","AFFILIATION","CLASSIFICATION","USE_CASE","ORGANIZATION","INCOME_AMT","SPECIAL_CONSIDERATIONS"]#,"ASK_AMT"]
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [34]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,NAME_LITTLE LEAGUE BASEBALL INC,NAME_MOMS CLUB,NAME_MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\ashsu\Sunil\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,NAME_LITTLE LEAGUE BASEBALL INC,NAME_MOMS CLUB,NAME_MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [36]:
application_df.dtypes

STATUS                                                                       int64
ASK_AMT                                                                      int64
IS_SUCCESSFUL                                                                int64
NAME_ALPHA PHI SIGMA                                                       float64
NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                       float64
NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS                              float64
NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION    float64
NAME_LITTLE LEAGUE BASEBALL INC                                            float64
NAME_MOMS CLUB                                                             float64
NAME_MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                     float64
NAME_Other                                                                 float64
NAME_PARENT BOOSTER USA INC                                                float64
NAME_PTA TEXAS CONGRESS                                                    float64
NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                         float64
NAME_TOASTMASTERS INTERNATIONAL                                            float64
NAME_TOPS CLUB INC                                                         float64
NAME_UNITED STATES BOWLING CONGRESS INC                                    float64
NAME_WASHINGTON STATE UNIVERSITY                                           float64
APPLICATION_TYPE_Other                                                     float64
APPLICATION_TYPE_T19                                                       float64
APPLICATION_TYPE_T3                                                        float64
APPLICATION_TYPE_T4                                                        float64
APPLICATION_TYPE_T5                                                        float64
APPLICATION_TYPE_T6                                                        float64
APPLICATION_TYPE_T7                                                        float64
APPLICATION_TYPE_T8                                                        float64
AFFILIATION_CompanySponsored                                               float64
AFFILIATION_Family/Parent                                                  float64
AFFILIATION_Independent                                                    float64
AFFILIATION_National                                                       float64
AFFILIATION_Other                                                          float64
AFFILIATION_Regional                                                       float64
CLASSIFICATION_C1000                                                       float64
CLASSIFICATION_C1200                                                       float64
CLASSIFICATION_C2000                                                       float64
CLASSIFICATION_C2100                                                       float64
CLASSIFICATION_C3000                                                       float64
CLASSIFICATION_Other                                                       float64
USE_CASE_CommunityServ                                                     float64
USE_CASE_Heathcare                                                         float64
USE_CASE_Other                                                             float64
USE_CASE_Preservation                                                      float64
USE_CASE_ProductDev                                                        float64
ORGANIZATION_Association                                                   float64
ORGANIZATION_Co-operative                                                  float64
ORGANIZATION_Corporation                                                   float64
ORGANIZATION_Trust                                                         float64
INCOME_AMT_0                                                               float64
INCOME_AMT_1-9999                                                          float64
INCOME_AMT_10000-24999                                                     float64
INCOME_AMT_100000-499999                                                   float64
INCOME_AMT_10M-50M                                                         float64
INCOME_AMT_1M-5M                                                           float64
INCOME_AMT_25000-99999                                                     float64
INCOME_AMT_50M+                                                            float64
INCOME_AMT_5M-10M                                                          float64
SPECIAL_CONSIDERATIONS_N                                                   float64
SPECIAL_CONSIDERATIONS_Y                                                   float64
dtype: object

In [37]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\ashsu\Sunil\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [39]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 6
hidden_nodes_layer3 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                580

 dense_1 (Dense)             (None, 6)                 66

 dense_2 (Dense)             (None, 5)                 35

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 687
Trainable params: 687
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [41]:
# Create a callback that saves the model's weights every epoch
from math import ceil
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=ceil(len(X_train_scaled)/32)*5)

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
from math import ceil
ceil(len(X_train_scaled)/32)

804

In [44]:
#fit_model = nn.fit(X_train_scaled,y_train,epochs=100)
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.6089 - accuracy: 0.6791
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5300 - accuracy: 0.7474
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5233 - accuracy: 0.7507
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5185 - accuracy: 0.7505
Epoch 5/100
803/804 [============================>.] - ETA: 0s - loss: 0.5160 - accuracy: 0.7511
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5160 - accuracy: 0.7510
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5142 - accuracy: 0.7510
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5128 - accuracy: 0.7522
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5122 - accuracy: 0.7513
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5114 - accuracy: 0.7528
Epoch 10/100
799/804 [============================>.] - ETA: 0s - loss: 0.5100 - accuracy: 0.7540
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5101 - accuracy: 0.7539
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5097 - accuracy: 0.7531
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5088 - accuracy: 0.7531
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5084 - accuracy: 0.7530
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5080 - accuracy: 0.7540
Epoch 15/100
797/804 [============================>.] - ETA: 0s - loss: 0.5074 - accuracy: 0.7540
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5073 - accuracy: 0.7542
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5052 - accuracy: 0.7538
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5051 - accuracy: 0.7532
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5048 - accuracy: 0.7539
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5039 - accuracy: 0.7537
Epoch 20/100
798/804 [============================>.] - ETA: 0s - loss: 0.5041 - accuracy: 0.7538
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.5043 - accuracy: 0.7537
Epoch 21/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5040 - accuracy: 0.7540
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5036 - accuracy: 0.7543
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5032 - accuracy: 0.7547
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5033 - accuracy: 0.7545
Epoch 25/100
784/804 [============================>.] - ETA: 0s - loss: 0.5029 - accuracy: 0.7557
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5031 - accuracy: 0.7555
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5032 - accuracy: 0.7551
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5031 - accuracy: 0.7559
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5026 - accuracy: 0.7559
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5022 - accuracy: 0.7549
Epoch 30/100
780/804 [============================>.] - ETA: 0s - loss: 0.5023 - accuracy: 0.7562
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5023 - accuracy: 0.7561
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5018 - accuracy: 0.7570
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5017 - accuracy: 0.7573
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5018 - accuracy: 0.7561
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5018 - accuracy: 0.7551
Epoch 35/100
800/804 [============================>.] - ETA: 0s - loss: 0.5018 - accuracy: 0.7570
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5015 - accuracy: 0.7572
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5014 - accuracy: 0.7548
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5012 - accuracy: 0.7554
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5013 - accuracy: 0.7565
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5012 - accuracy: 0.7570
Epoch 40/100
792/804 [============================>.] - ETA: 0s - loss: 0.5007 - accuracy: 0.7569
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5010 - accuracy: 0.7567
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5010 - accuracy: 0.7564
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5006 - accuracy: 0.7576
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5008 - accuracy: 0.7563
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5007 - accuracy: 0.7574
Epoch 45/100
797/804 [============================>.] - ETA: 0s - loss: 0.5010 - accuracy: 0.7574
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5006 - accuracy: 0.7578
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5006 - accuracy: 0.7559
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5006 - accuracy: 0.7560
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5004 - accuracy: 0.7568
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5003 - accuracy: 0.7582
Epoch 50/100
803/804 [============================>.] - ETA: 0s - loss: 0.5003 - accuracy: 0.7579
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5004 - accuracy: 0.7578
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5002 - accuracy: 0.7570
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5000 - accuracy: 0.7565
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4999 - accuracy: 0.7580
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4998 - accuracy: 0.7573
Epoch 55/100
791/804 [============================>.] - ETA: 0s - loss: 0.5005 - accuracy: 0.7562
Epoch 55: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5000 - accuracy: 0.7567
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4987 - accuracy: 0.7576
Epoch 57/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4979 - accuracy: 0.7577
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4974 - accuracy: 0.7574
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4971 - accuracy: 0.7570
Epoch 60/100
797/804 [============================>.] - ETA: 0s - loss: 0.4975 - accuracy: 0.7582
Epoch 60: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.4974 - accuracy: 0.7582
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4973 - accuracy: 0.7569
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4971 - accuracy: 0.7579
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4973 - accuracy: 0.7569
Epoch 64/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4970 - accuracy: 0.7571
Epoch 65/100

793/804 [============================>.] - ETA: 0s - loss: 0.4968 - accuracy: 0.7584
Epoch 65: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.4970 - accuracy: 0.7584
Epoch 66/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4969 - accuracy: 0.7584
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4971 - accuracy: 0.7577
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4970 - accuracy: 0.7572
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4972 - accuracy: 0.7580
Epoch 70/100
797/804 [============================>.] - ETA: 0s - loss: 0.4966 - accuracy: 0.7569
Epoch 70: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4969 - accuracy: 0.7567
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4966 - accuracy: 0.7571
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4964 - accuracy: 0.7584
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4965 - accuracy: 0.7568
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4968 - accuracy: 0.7573
Epoch 75/100
791/804 [============================>.] - ETA: 0s - loss: 0.4968 - accuracy: 0.7579
Epoch 75: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 4s 5ms/step - loss: 0.4964 - accuracy: 0.7584
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4965 - accuracy: 0.7580
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4965 - accuracy: 0.7574
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4964 - accuracy: 0.7576
Epoch 79/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4965 - accuracy: 0.7585
Epoch 80/100
803/804 [============================>.] - ETA: 0s - loss: 0.4966 - accuracy: 0.7579
Epoch 80: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4966 - accuracy: 0.7579
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4963 - accuracy: 0.7576
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4966 - accuracy: 0.7587
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4965 - accuracy: 0.7582
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4966 - accuracy: 0.7580
Epoch 85/100
789/804 [============================>.] - ETA: 0s - loss: 0.4967 - accuracy: 0.7578
Epoch 85: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.4964 - accuracy: 0.7577
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4964 - accuracy: 0.7578
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4961 - accuracy: 0.7565
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4962 - accuracy: 0.7579
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4963 - accuracy: 0.7577
Epoch 90/100
796/804 [============================>.] - ETA: 0s - loss: 0.4957 - accuracy: 0.7587
Epoch 90: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4960 - accuracy: 0.7584
Epoch 91/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4963 - accuracy: 0.7581
Epoch 92/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4962 - accuracy: 0.7576
Epoch 93/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4960 - accuracy: 0.7580
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4962 - accuracy: 0.7579
Epoch 95/100
797/804 [============================>.] - ETA: 0s - loss: 0.4954 - accuracy: 0.7574
Epoch 95: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.4960 - accuracy: 0.7572
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4961 - accuracy: 0.7577
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4960 - accuracy: 0.7585
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4961 - accuracy: 0.7584
Epoch 99/100
804/804 [==============================] - 7s 9ms/step - loss: 0.4958 - accuracy: 0.7586
Epoch 100/100
794/804 [============================>.] - ETA: 0s - loss: 0.4958 - accuracy: 0.7566
Epoch 100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 6s 7ms/step - loss: 0.4958 - accuracy: 0.7570

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5100 - accuracy: 0.7465 - 2s/epoch - 8ms/step
Loss: 0.5100135207176208, Accuracy: 0.7464722990989685

In [47]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5.")

INFO:tensorflow:Assets written to: AlphabetSoupCharity_Optimization.h5.\assets

In [ ]:
# Import the model to a new object
nn_imported = tf.keras.models.load_model('AlphabetSoupCharity_Optimization.h5')